.btnStyle {
    padding: 2rem;
    background-color: rgba(153, 205, 50, 0.50);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnStyle:hover {
    background-color: yellowgreen;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}